/*-- scss:defaults --*/

//import fonts
@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Sen:wght@400..800&display=swap');

// Fonts
$sen: "Sen", sans-serif;


// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$light-blue: #7f9eb2;

// Base document colors
$navbar-bg: $cream; // navbar
$navbar-fg: $dark-green; // navbar foreground elements
$navbar-hl: $light-blue; // highlight color when hovering over navbar links
$body-bg: $light-green; // page background 
$body-color: $gray; // page text 
$footer-bg: $cream; // footer 
$link-color: $light-blue; // hyperlinks 

// Inline code
$code-bg: $cream; // inline code background color
$code-color: $purple; // inline code text color


/*-- scss:rules --*/

h1, h2, h3, h4, h5, h6 {
  font-family: $sen;
  color: $light-blue;
}